<h1> Add an Appointment </h1>

<%= form_for @appointment do |f| %>
  <%= f.select :doctor_id, options_for_select(@doctors) %>
  <%= f.select :patient_id, options_for_select(@patients) %>
  <%= f.text_field :day, required: true, placeholder: 'Day' %>
  <%= f.submit nil, class: 'btn' %>
<% end %>

<hr />
<%= link_to 'All Doctors', doctors_path %> |
<%= link_to 'All Patients', patients_path %>
